body {
    background-color: #343434;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

#title {
    display: flex;
    flex-direction: column;
    line-height: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px;
}

h1 {
    font-weight: 200;
    font-size: 1.5em; /* Tamanho relativo */
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    gap: 20px; /* Espaço entre os elementos */
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
    transition: 0.3s all;
}

h2 {
    font-size: 3em; /* Tamanho relativo */
    line-height: 1.2; /* Ajuste de line-height */
    margin: 0; /* Remover margem padrão */
}

span {
    color: blueviolet;
}

p {
    line-height: 1.5em;
    max-width: 100%;
    font-size: 1.25em; /* Tamanho relativo */
    margin-bottom: 20px; /* Espaçamento inferior */
}

img {
    max-width: 100%; /* Tornar a imagem responsiva */
    height: auto; /* Manter a proporção */
}

.custom-button {
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 1em; /* Tamanho relativo */
    transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
    background-color: indigo;
    color: white;
}

/* Img Wolf */

article {
    position: relative;
    overflow: hidden; /* Esconde partes fora do contêiner */
    border-radius: 10px;
}

article img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

article img:hover {
    transform: scale(1.05);
}

article::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    z-index: -1; /* Mantém o desfoque atrás da imagem */
}

#sobre{
    text-align: center;
}

/* Produtos */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background-color: #272727;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 200px;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card.highlight {
    background: linear-gradient(to bottom, #8a2be2, #4d0787);
    color: white;
}

.product-card img {
    width: 100px;
    margin-bottom: 20px;
}

.product-card h2 {
    font-size: 1.125em; /* Tamanho relativo */
    margin: 10px 0;
}

.price {
    font-size: 1.5em; /* Tamanho relativo */
    color: #ffffff;
    margin-bottom: 20px;
}

.shop-button {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.shop-button:hover {
    background-color: #e6e6e6;
    color: black;
}

#produtos {
    text-align: center;
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Avaliações */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 30px;
}

.card {
    display: inline-block;
    background-color: #2b2b2b;
    border-radius: 10px;
    color: white;
    width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: left;
}

.card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-header h2 {
    font-size: 1.2em;
    margin: 0;
}

.card-header p {
    margin: 0;
    font-size: 0.9em;
    color: #aaa;
}

.awards {
    margin-top: 10px;
}

.award {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #444;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

.award img {
    max-width: 100%;
    max-height: 100%;
}

/* Footer */
.footer {
    color: white;
    text-align: center;
    padding: 20px 0;
}
.footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os ícones */
    margin-bottom: 20px;
}
.footer-social-icons li a svg {
    width: 24px; /* Aumenta o tamanho dos ícones */
    height: 24px;
    fill: white;
}
.footer-social-icons li a {
    text-decoration: none;
}
.footer-copyright {
    font-size: 14px;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px 0; /* Ajuste do padding */
    }

    ul {
        flex-direction: column;
        text-align: center;
    }

    main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h2 {
        font-size: 2em; /* Ajuste para responsividade */
    }

    p {
        font-size: 1em; /* Ajuste para responsividade */
        line-height: 1.5em; /* Ajuste para responsividade */
    }

    img {
        max-width: 80%; /* Ajuste para responsividade */
    }
}

@media (max-width: 480px) {
    .product-card {
        width: 150px; /* Ajuste para telas menores */
    }

    .product-card img {
        width: 80px; /* Ajuste para telas menores */
    }

    .shop-button, .custom-button {
        padding: 8px 16px; /* Ajuste para telas menores */
        font-size: 0.875em; /* Ajuste para telas menores */
    }

    h2 {
        font-size: 1.5em; /* Ajuste para telas menores */
    }

    p {
        font-size: 0.875em; /* Ajuste para telas menores */
    }
}
