/* Estilos Gerais */
body {
    background-color: #343434;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: nowrap;
}

#title {
    display: flex;
    flex-direction: column;
    line-height: 10px;
}

ul.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.nav-links li {
    margin: 10px;
}

ul.nav-links a {
    text-decoration: none;
    color: white;
}

.menu-toggle {
    display: none;
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

h1 {
    font-weight: 200;
    font-size: 1.5em; /* Tamanho relativo */
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    gap: 20px; /* Espaço entre os elementos */
    align-items: center; /* Ajustado para centralizar */
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
    transition: 0.3s all;
}

h2 {
    font-size: 3em; /* Tamanho relativo */
    line-height: 1.2; /* Ajuste de line-height */
    margin: 0; /* Remover margem padrão */
}

span {
    color: blueviolet;
}

p {
    line-height: 1.5em;
    max-width: 100%;
    font-size: 1.25em; /* Tamanho relativo */
    margin-bottom: 20px; /* Espaçamento inferior */
}

img {
    max-width: 100%; /* Tornar a imagem responsiva */
    height: auto; /* Manter a proporção */
}

.custom-button {
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 1em; /* Tamanho relativo */
    transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
    background-color: indigo;
    color: white;
}

/* Img Wolf */
article {
    position: relative;
    overflow: hidden; /* Esconde partes fora do contêiner */
    border-radius: 10px;
    flex: 1; /* Ajuste para distribuição de espaço */
}

article img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

article img:hover {
    transform: scale(1.05);
}

article::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    z-index: -1; /* Mantém o desfoque atrás da imagem */
}

aside {
    flex: 1; /* Ajuste para distribuição de espaço */
}

#sobre {
    text-align: center;
}

/* Produtos */
.product-container {
    display: flex;
    justify-content: space-between; /* Distribui o espaço uniformemente entre os itens */
    gap: 20px; /* Espaço entre os elementos */
    margin-bottom: 40px; /* Espaçamento inferior */
}

.product-card {
    background-color: #272727;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 30%; /* Cada produto ocupa 30% da largura do container */
    max-width: 300px; /* Largura máxima para o cartão */
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card.highlight {
    background: linear-gradient(to bottom, #8a2be2, #4d0787);
    color: white;
}

.product-card img {
    width: 100px;
    margin-bottom: 20px;
}

.product-card h2 {
    font-size: 1.125em; /* Tamanho relativo */
    margin: 10px 0;
}

.price {
    font-size: 1.5em; /* Tamanho relativo */
    color: #ffffff;
    margin-bottom: 20px;
}

.shop-button {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.shop-button:hover {
    background-color: #e6e6e6;
    color: black;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card.highlight {
    background: linear-gradient(to bottom, #8a2be2, #4d0787);
    color: white;
}

#produtos {
    text-align: center;
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Avaliações */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    display: inline-block;
    background-color: #2b2b2b;
    border-radius: 10px;
    color: white;
    width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: left;
}

.card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-header h2 {
    font-size: 1.2em;
    margin: 0;
}

.card-header p {
    margin: 0;
    font-size: 0.9em;
    color: #aaa;
}

.awards {
    margin-top: 10px;
}

.award {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #444;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

.award img {
    max-width: 100%;
    max-height: 100%;
}

/* Footer */
.footer {
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os ícones */
    margin-bottom: 20px;
}

.footer-social-icons li a svg {
    width: 24px; /* Aumenta o tamanho dos ícones */
    height: 24px;
    fill: white;
}

.footer-social-icons li a {
    text-decoration: none;
}

.footer-copyright {
    font-size: 14px;
}

.wolf-image {
    width: 100%; /* Tornar a imagem responsiva */
    height: auto; /* Manter a proporção */
    max-width: 400px; /* Limitar o tamanho máximo da imagem em telas maiores */
    display: block; /* Garantir que ela seja um bloco completo */
    margin: 0 auto; /* Centralizar a imagem */
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        flex-wrap: wrap;
    }

    ul.nav-links {
        display: none; /* Esconder o menu por padrão em dispositivos móveis */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Ajustar a posição do menu */
        right: 10px;
        background-color: #333;
        border-radius: 5px;
        width: 150px;
        text-align: left;
        padding: 10px;
    }

    ul.nav-links li {
        margin: 10px 0; /* Ajuste de margem para itens de menu no dropdown */
    }

    .menu-toggle {
        display: block; /* Mostrar o botão de menu em dispositivos móveis */
    }

    .show-menu {
        display: flex !important; /* Mostrar o menu dropdown quando a classe é adicionada */
    }

    aside,
    article {
        flex: 1 1 100%; /* Permite que os elementos se ajustem em largura */
        margin-bottom: 20px; /* Espaçamento inferior para elementos empilhados */
    }

    .product-container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; /* Permite quebra em telas menores */
    }

    .product-card {
        width: 45%; /* Ajuste para duas colunas em telas menores */
        max-width: 200px;
        margin-bottom: 20px;
    }

    .card {
        width: 90%;
        max-width: 300px;
        margin: 10px auto;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
        line-height: 1.5em;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .custom-button,
    .shop-button {
        width: auto;
        max-width: 200px;
    }

}

@media (max-width: 480px) {
    ul.nav-links {
        flex-direction: column; /* Ajusta a lista para colunas em telas muito pequenas */
    }

    .product-card {
        width: 100%; /* Ajuste para telas menores */
        max-width: 200px;
    }

    .product-card img {
        width: 80px;
    }

    .shop-button,
    .custom-button {
        padding: 8px 16px;
        font-size: 0.875em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.875em;
    }
}
